modified-testrunner/*
eval_NAV/*
evaluation/real-faults/candidate-test-jobs/*
evaluation/injected-faults/*
**/.snapshots
**/.vscode
**/.alpackages
*.app
dummy-demo/testrunner-output-after/*
dummy-demo/testrunner-output-before/*
*.sqlite3